# El backend (API) correrá en este puerto localmente
VITE_API_URL=http://localhost:5000/api

# API Key de Google Maps para el renderizado del mapa georreferenciado
# Debe tener habilitada Maps JavaScript API.
VITE_GOOGLE_MAPS_API_KEY=tu_api_key_aqui
